# Dependencies
node_modules/

# OS-specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist/bundle.js
src/components/ContacForm.js.Ofer
src/components/ContacForm.js.org
src/components/ContactForm.js.Ofer
